{% extends 'client/base.html' %}

{% from "_formhelper.html" import render_field %}

{% block content  %}


<!--================Header Menu Area =================-->
{% include 'client/header.html' %}
<!--================Header Menu Area =================-->


<!--================Home Banner Area =================-->
<section class="home_banner_area">

	<div class="container box_1620">

		<div class="banner_inner d-flex align-items-center">

			<div class="banner_content">
				<div class="media">

					<div class="d-flex">
						<img src="https://media-exp1.licdn.com/dms/image/C5603AQGV5ReQv4oLtg/profile-displayphoto-shrink_200_200/0?e=1593043200&v=beta&t=5Weg488BWzZCA9FlLvc2awwAWYmwOpSqntBPHt6v8Gs"
							alt="">
					</div>
					<div class="media-body">
						<div class="personal_text">
							<h6>Salut tout le monde je suis,</h6>
							<h3>{{info.nom}}</h3>
							<h4>{{info.profession}}</h4>
							<p>{{info.description}}</p>
							<ul class="list basic_info">
								<li><a href="#"><i class="lnr lnr-phone-handset"></i>{{info.telephone}}</a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> {{info.email}}</a></li>
								<li><a href="#"><i class="lnr lnr-home"></i> {{info.lieu}}</a></li>
							</ul>
							<ul class="list personal_social">
								<li><a href="https://www.linkedin.com/in/richard-bathiebo-7aa300157/"><i
											class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Home Banner Area =================-->

<!--================Welcome Area =================-->
<section class="welcome_area p_120">
	<div class="container">
		<div class="row welcome_inner">
			<div class="col-lg-6">
				<div class="welcome_text">
					<h4>A propos de moi</h4>
					<p>{{myself.aboutMe}}</p>
					<div class="row">
						<div class="col-md-4">
							<div class="wel_item">
								<i class="lnr lnr-book"></i>
								<h4>{{myself.nbProjets}}</h4>
								<p>Projets</p>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="tools_expert">
					<div class="skill_main">
						{% for cle,valeur in myself.skills.items()  %}
						<div class="skill_item">
							<h4>{{cle}} <span class="counter">{{valeur}}</span>%</h4>
							<div class="progress_br">
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="{{valeur}}"
										aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Welcome Area =================-->

<!--================My Tabs Area =================-->
<section class="mytabs_area p_120">
	<div class="container">
		<div class="tabs_inner">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
						aria-selected="true">Mon Expérience</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
						aria-controls="profile" aria-selected="false">Mon Parcours</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade " id="home" role="tabpanel" aria-labelledby="home-tab">
					<ul class="list">
						{% for i in exp  %}
						<li>
							<span></span>
							<div class="media">
								<div class="d-flex">
									<p>{{i.periode}}</p>
								</div>
								<div class="media-body">
									<h4>{{i.lieu}}</h4>
									<p>{{i.poste}}</p>
								</div>
							</div>
						</li>
						{% endfor %}


					</ul>
				</div>
				<div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<ul class="list">
						{% for i in parcours  %}
						<li>
							<span></span>
							<div class="media">
								<div class="d-flex">
									<p>{{i.periode}}</p>
								</div>
								<div class="media-body">
									<h4>{{i.lieu}}</h4>
									<p>{{i.poste}}</p>
								</div>
							</div>
						</li>
						{% endfor %}

					</ul>

				</div>
			</div>
		</div>
	</div>
</section>
<!--================End My Tabs Area =================-->

<!--================Feature Area 
        <section class="feature_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>offerings to my clients</h2>
        			<p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.</p>
        		</div>
        		<div class="feature_inner row">
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<i class="flaticon-city"></i>
        					<h4>Architecture</h4>
        					<p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<i class="flaticon-skyline"></i>
        					<h4>Interior Design</h4>
        					<p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<i class="flaticon-sketch"></i>
        					<h4>Concept Design</h4>
        					<p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
       End Feature Area =================-->

<!--================Home Gallery Area =================-->
<section class="home_gallery_area p_120">
	<div class="container">
		<div class="main_title">
			<h2>Mes projets</h2>
			<p>Jetez y un oeil 😁👍.</p>
			<p>XXXXXXX La liste des projets sera mise à jour sous peu👍 XXXXXX.</p>
		</div>

		<div class="isotope_fillter">
			<ul class="gallery_filter list">
				<li class="active" data-filter="*"><a href="#">Tous</a></li>

				{% for i in technos  %}
				<li data-filter=".{{i}}"><a href="#"> {{i}}</a></li>
				{% endfor %}

			</ul>
		</div>


	</div>
	<div class="container">
		<div class="gallery_f_inner row imageGallery1">
			{% for i in projets  %}

			<div class="col-lg-4 col-md-4 col-sm-6 {{i.techno}}">
				<div class="h_gallery_item">
					<div class="g_img_item">
						<img style="max-height:150px" class="img-fluid" src="" alt="">
						<a class="light" href="">
							<img src="{{url_for('static',filename='img/gallery/icon.png')}}" alt="">
						</a>
					</div>
					<div class="g_item_text">
						<h4>{{i.titre}}</h4>
						<p>{{i.description}}</p>
					</div>
				</div>
			</div>
			{% endfor %}


		</div>

		<!--
        		<div class="more_btn">
        			<a class="main_btn" href="#">Chargez + de projets</a>
        		</div>
				-->
	</div>
</section>

<section class="certifications container">
	<div class="main_title">
		<h2>Certifications</h2>
		<p>Toutes mes certifications (Self Learning) </p>
	</div>

	<div class="row">
		{% for i in certifications %}

		<div class="col-md-6">
			<div class="card mb-3" style="max-width: 540px;">
				<div class="row no-gutters">
					<div class="col-md-4">
						<img style="max-height: 50%;" src="{{i.image}}" class="card-img" alt="{{i.name}}">
					</div>
					<div class="col-md-8">

						<div class="card-body">
							<h5 class="card-title">{{i.nom}}</h5>
							<p class="card-text">{{i.description}}</p>
							<p class="card-text"><small class="text-muted">{{i.place}}</small></p>
							<a href="{{url_for('static',filename='certifications')}}/{{i.source}}"
								class="btn btn-sm btn-outline-primary">Voir le certificat</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}


	</div>

</section>
<!--================End Home Gallery Area =================-->

<!--================Testimonials Area =================-->
<section class="testimonials_area p_120">
	<div class="container">
		<div class="main_title">
			<h2>Témoignages</h2>
			<p>Regardez un peu ce que mes clients pensent de moi</p>
		</div>
		<div class="testi_inner">
			<div class="testi_slider owl-carousel">

				{% for i in temoignages %}
				<div class="item">
					<div class="testi_item">
						<p>{{i.description}}</p>
						<h4>{{i.nom}}</h4>

						{% for i in range(i.etoiles) %}
						<a href="#"><i class="fa fa-star"></i></a>
						{% endfor %}

						{% for i in range(5-i.etoiles) %}
						<a href="#"><i class="fa fa-star-o"></i></a>
						{% endfor %}

					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</div>
</section>
<!--================End Testimonials Area =================-->





{% endblock  %}