{% extends 'admin/adbase.html' %}
        <!-- Begin Page Content -->
          
          {% block content %}
          <h1>Vous faites un {{methode}} </h1>

           <form class="text-center" action="" method="post" novalidate>
		        {{ form.hidden_tag() }}
		   
		        <p>
		            {{ form.montant.label }}<br>
		            {{ form.montant(size=32) }}
		        </p>
  
       
        <button class="btn btn-primary">{{methode}}</button>
    </form>



          {% endblock %}

        <!-- /.container-fluid -->

     





{% block js %}

{{super()}}


{% endblock %}